<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-4">
                <h5 class="footer-title">Về TechZone</h5>
                <p class="footer-text">
                    TechZone - Hệ thống bán lẻ thiết bị công nghệ hàng đầu Việt Nam với hơn 100 cửa hàng trên toàn quốc.
                </p>
                <div class="social-links">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-youtube"></i></a>
                    <a href="#"><i class="bi bi-tiktok"></i></a>
                </div>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title">Thông tin</h5>
                <ul class="footer-links">
                    <li><a href="#">Về chúng tôi</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Tin tức</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <h5 class="footer-title">Chính sách</h5>
                <ul class="footer-links">
                    <li><a href="#">Bảo hành</a></li>
                    <li><a href="#">Vận chuyển</a></li>
                    <li><a href="#">Đổi trả</a></li>
                    <li><a href="#">Bảo mật</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5 class="footer-title">Đăng ký nhận tin</h5>
                <p class="footer-text">Nhận thông tin về sản phẩm mới và khuyến mãi</p>
                <form class="footer-form">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Email của bạn">
                        <button class="btn btn-primary">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
</body>

</html>